.header {
height: 70px;
left: 0px;
top: 0px;
background: #036BA2;

display: grid;
grid-template-columns: 1fr 1fr;
}

.header img {
    margin: 19px 30px;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content-header span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-left: 3px solid #f7f8f921;
    padding: 23px 0 23px  33px;
}